body {
	font-family: "Kalimati", "Verdana", sans-serif;
	color: #666;
	font-size: 15.5px;
}

.text-orange {
	color: #F07C17;
	font-size: 24px;
	font-weight: bolder;
}

.padded {
	padding-left: 17px;
}

.containerpad {
	margin: 0 31px 0 25px;
}

.notopmargin {
	margin: 0 0 31px 0;
}

.title-super {
	font-size: 47px;
	margin: 45px 0 30px 0;
}

.text-spaced {
	line-height: 2;
}

.testbox {
	width: 375px;
	height: 223px;
	border: 1px solid #CCC;
	padding: 15px 0 0 32px;
	margin: 32px 0 0 0;
}

.h2box {
	margin: 16px 0 28px 0;
}